<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="dbServerType" value="MSSQL2019" />
		<add key="Server" value="WIN-B90SK086OGK\MSSQLSERVER2019" />
		<add key="dbuser" value="sa" />
		<add key="dbpass" value="Phan921381!" />
		<add key="LicenseServer" value="WIN-B90SK086OGK:30000" />
		<add key="CompanyDB" value="STL_SAP" />
		<add key="UserName" value="manager1" />
		<add key="Password" value="1234" />
		<add key="DataSourceUserID" value="Admin" />
		<add key="DataSourcePassword" value="" />
		<add key="AutoLogin" value="Y" />
		<add key="AutoPostAfterLogin" value="Y" />
		<add key="SOPost" value="N" />
		<add key="POPost" value="N" />
		<add key="GRNPost" value="N" />
		<add key="PReturnPost" value="N" />
		<add key="SReturnPost" value="Y" />
		<add key="WhsTransferPost" value="Y" />
		<add key="SAPost" value="N" />
		<add key="CNPost" value="N" />
		<add key="ARDPPost" value="Y" />
		<add key="DOPost" value="N" />
		<add key="PickListPost" value="N" />
		<add key="CNCancelPost" value="Y" />
		<add key="LogFileName" value="Portal_Posting_Test_Log" />
		<add key="B1AttachmentPath" value="D:\\Desktop\BWY\\BWY Original\\BWY_Portal_Latest\\Attachments\" />
	</appSettings>
	<connectionStrings>
		<add name="DataSourceConnectionString" connectionString="Data Source=WIN-B90SK086OGK\MSSQLSERVER2019;Initial Catalog=StarLaiPortal;User ID=sa;Password=Phan921381!" providerName="System.Data.SqlClient" />
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>